.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.header {
  margin-top: 20px;
  font-size: calc(10px + 5vmin);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c1 {
  color: red
}

.c2 {
  color: orange
}

.c3 {
  color: yellow
}

.c4 {
  color: green
}

.c5 {
  color: turquoise
}

.c6 {
  color: blue
}

.c7 {
  color: purple
}

.image {
  height: 40px;
}

.image2 {
  height: 40px;
  transform: scaleX(-1);
}

.nameInput {
  height: 40px;
  border-radius: 5px;
  border-width: 1;
  border-color: black;
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px 0
}

.counter {
  margin-bottom: 20px;
}

.ok {
  color: chartreuse;
}

.err {
  color: red;
}

.addButton {
  height: 40px;
  width: 50%;
  font-size: 16px;
  border-radius: 5px;
  border-width: 0;
  background-color: yellowgreen;
  color: black;
  cursor: pointer;
  margin: 20px 0;
}

.addButton:disabled {
  background-color: silver;
  cursor: not-allowed;
}

.submitButton {
  height: 50px;
  width: 50%;
  font-size: 20px;
  border-radius: 5px;
  border-width: 0;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
}
.submitButton:disabled {
  background-color: silver;
  cursor: not-allowed;
}