@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.App {
  position: relative;
  text-align: center;
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Nunito', sans-serif;
  color: whitesmoke;
  overflow-x: hidden;
}

button {
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  z-index: 3;
}

.header {
  margin-top: 20px;
  font-size: calc(10px + 5vmin);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.c1 {
  color: red
}

.c2 {
  color: orange
}

.c3 {
  color: yellow
}

.c4 {
  color: green
}

.c5 {
  color: turquoise
}

.c6 {
  color: blue
}

.c7 {
  color: purple
}

.image {
  @media only screen and (max-width: 1200px) {
    display:none;
  }
  position: absolute;
}

.lilith {
  bottom: 0;
  right: -100px;
  max-height: 90vh;
}

.ghost {
bottom: 0;
left: 100px;
}

.shadow {
top: -10px;
left: 0;
transform: scaleX(-1);
}

.johny1 {
  display: none;
  transform: rotate(180deg);
  height: 40vh;
  top: -20px;
  left: 0px;
}

.johny2 {
  display: none;
  transform: rotate(-15deg);
  top: 0;
  right: -300px;
}

.johny3 {
  display: none;
  transform: rotate(45deg);
  height: 70vh;
  bottom: -30px;
  left: -30px;
}

.johny-visible {
  @media only screen and (min-width: 1200px) {
    display: block;
  }
}

.bubble {
  display: none;
  bottom: 330px;
  left: 300px;
  width: 150px;
}

.bubble-visible {
  @media only screen and (min-width: 1200px) {
    display: block;
  }
}

.nameInput {
  height: 40px;
  border-radius: 5px;
  border-width: 1;
  border-color: black;
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px 0
}

.counter {
  margin-bottom: 20px;
}

.ok {
  color: chartreuse;
}

.err {
  color: red;
}

.addButton {
  height: 40px;
  width: 50%;
  font-size: 16px;
  border-radius: 5px;
  border-width: 0;
  background-color: #5B8C5A;
  color: black;
  cursor: pointer;
  margin: 20px 0;
}

.addButton:disabled {
  background-color: silver;
  cursor: not-allowed;
}

.submitButton {
  height: 50px;
  width: 50%;
  font-size: 20px;
  border-radius: 5px;
  border-width: 0;
  background-color: #E8985E;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
}
.submitButton:disabled {
  background-color: silver;
  cursor: not-allowed;
}

.flashlight-wrapper {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100vh;
  perspective: 150px;
  transform: rotate(-115deg);
  transform-origin: center;
  animation-name: flash;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.light-off {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: .7;
  z-index: 2;
}

.flashlight {
  height: 100vh;
  width: 100px;
  background: white;
  transform: rotateX(45deg);
  opacity: .5;
}

.flashlight-visible {
  @media only screen and (min-width: 1200px) {
    display: block;
  }
}

@keyframes flash {
  from {
    transform: rotate(-115deg);
  }

  to {
    transform: rotate(-75deg);
  }
}