.Game {
    height: 50px;
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: 25px 1fr 40px 20px 40px 50px;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.input {
    height: 40px;
    min-width: 50px;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 10px;
    font-size: 16px;
    border-color: black;
}

.pointsInput {
    display: none;
}

.points {
    background-color: gainsboro;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 20px;
    color: black;
    border-width: 0;
    cursor: pointer;
}

.points:disabled {
    background-color: slategrey;
    cursor: not-allowed;
}

.removeButton {
    background-color: #CC2936;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 20px;
    color: whitesmoke;
    border-width: 0;
    cursor: pointer;
    justify-self: center;
}

.removeButton:disabled {
    background-color: slategrey;
    cursor: not-allowed;
}